// Custom styles.
body {
  background: url(/images/blogbk.jpg) no-repeat;
  /* 背景图垂直、水平均居中 */
  background-position: center center;
  /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
  background-attachment: fixed;
  /* 让背景图基于容器大小伸缩 */
  background-size: cover;
  /* 设置背景颜色，背景图加载过程中会显示背景色 */
  background-color: rgba(0, 0, 0, 0.5);
}


.content {
            border-radius: 20px;
			padding: 30px 60px 30px 60px;
            background:rgba(249, 249, 249, 0.3) none repeat scroll !important;
         }

#sidebar {
            background:url(/images/sidebar.jpg);
            background-size: cover;
            background-position:center;
            background-repeat:no-repeat;
			/* 设置字体颜色 */
            p,span,a {color: rgb(14, 68, 84);}
}

.player {
    background: rgba(255, 255, 255, 0) !important;
}
#auto-id-2nsMCZm9I2kLW0W8 {
	url(/images/visitor.jpg) no-repeat 0 9999px !important;
}

#lv-container {
       border-radius: 20px;
	   padding: 30px 60px 30px 60px;
       background:rgba(249, 249, 249, 0.35) none repeat scroll !important;
    }
   
//文章目录默认展开
.post-toc .nav .nav-child { display: block; }